<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_EventInboxService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://develop.russalt.local/MicrosoftDynamicsAXAif50/eventinboxservice.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EventInboxService"
          contract="EventInboxService.EventInboxService" name="BasicHttpBinding_EventInboxService" />
    </client>
  </system.serviceModel>
</configuration>