<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GUI.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6"
                type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>-->
      <provider invariantName="System.Data.SQLite"
                type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)"
           invariant="System.Data.SQLite.EF6"
           description=".NET Framework Data Provider for SQLite (Entity Framework 6)"
           type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_EventInboxService">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dax.russalt.local/MicrosoftDynamicsAXAif50/eventinboxservice.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_EventInboxService"
                contract="EventInboxService.EventInboxService"
                name="BasicHttpBinding_EventInboxService"/>
    </client>
  </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0"
                    sku=".NETFramework,Version=v4.0"/>
</startup>
  <userSettings>
    <GUI.Properties.UserSettings>
      <setting name="DaxPipeName" serializeAs="String">
        <value>work</value>
      </setting>
      <setting name="EventShowQty" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="EventShowTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="EventReadTime" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="UserAccount" serializeAs="String">
        <value />
      </setting>
      <setting name="UserPass" serializeAs="String">
        <value />
      </setting>
      <setting name="UserDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdatePath" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThemeColor" serializeAs="String">
        <value>#FF1BA1E2</value>
      </setting>
      <setting name="ThemeSource" serializeAs="String">
        <value>/FirstFloor.ModernUI;component/Assets/ModernUI.Light.xaml</value>
      </setting>
      <setting name="ThemeFontSize" serializeAs="String">
        <value>Large</value>
      </setting>
      <setting name="ThemeLang" serializeAs="String">
        <value />
      </setting>
      <setting name="DataBaseName" serializeAs="String">
        <value>EventInbox.sqlite</value>
      </setting>
      <setting name="LogFileName" serializeAs="String">
        <value>Logs.txt</value>
      </setting>
      <setting name="DaxExe" serializeAs="String">
        <value>C:\Program Files (x86)\Microsoft Dynamics AX\50\Client\Bin\Ax32.exe</value>
      </setting>
      <setting name="DaxConfig" serializeAs="String">
        <value>\\sfs\Сетевые файлы\!Microsoft DY AX\Ярлыки для запуска Axapta\MS Dynamics Ax 5.0\Конфигурации\Серверные\RS_Work_2009_server.axc</value>
      </setting>
    </GUI.Properties.UserSettings>
  </userSettings>
</configuration>
